#show_nav{
	width: 100%;
	height: auto;
	float: left;
	cursor: default;
	background: #6F8A9D;
}
.nav_all{
	width: 50%;
	height: 60px;
	float: left;
	text-align: center;
}
.nav_all div{
	width: 30%;
	height: 90%;
	float: left;
	cursor: pointer;
	margin-left: 18%;
	background-size: 50px;
}
.nav_all p{
	font-size: 16px;
	width: 50px;
	float: left;
	margin-top: 10%;
}
.nav_all div:hover{
	width: 40%;
	height: 100%;
	float: left;
	margin-left: 13%;
	background-size: 65px;
}
#outside,#internal,span{
	display: none;
}
.nav-0{background: #D1C340}
.nav-1{background: #DCD386}
.nav-2{background: #FFCE75}
.nav-3{background: #9EC68A}
.nav-4{background: #68BAAB}
.nav-5{background: #D0A4A3}

/*#one{background-image: url(../Images/shopping.png);}
#two{background-image: url(../Images/plane.png)}
#three{background-image: url(../Images/music.png)}
#four{background-image: url(../Images/idea.png)}
#five{background-image: url(../Images/bike.png)}
#six{background-image: url(../Images/tools.png)}*/
