<extend name="Public:base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/register.css">
</block>
<block name="content">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="account" class="col-sm-2 control-label">账户</label>
            <div class="col-sm-8">
                <div class="input"><input type="text" class="form-control" onkeyup="value=value.replace(/[\W]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" id="account" maxlength="15"></div>
                <div class="hint">
                    <span>请输入账号名9-15位</span><br/>
                    <span>字母与数字组合</span><br/>
                    <span>例:abc123ABC</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-8">
                <div class="input"><input type="password" class="form-control" id="Password" maxlength="16"></div>
                <div class="hint">
                    <span>长度为6-16个字符</span><br/>
                    <span>不能包含空格</span><br/>
                    <span>不能是9位以下纯数字</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-8">
                <div class="input"><input type="password" class="form-control" id="confirmPassword" maxlength="16"></div>
                <div class="hint">
                    <span>请再次输入密码</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密保问题一:</label>
            <div class="col-sm-8">
                <select class="form-control" id="problem1">
                    <option value="-1">请选择密保问题</option>
                    <foreach name="problem" item="vo">
                        <option value="{$vo.id}">{$vo.question}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="answer1" class="col-sm-2 control-label">答案</label>
            <div class="col-sm-8">
                <div class="input"><input type="text" class="form-control" id="answer1"></div>
                <div class="hint"><span></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密保问题二:</label>
            <div class="col-sm-8">
                <select class="form-control" id="problem2">
                    <option value="-1">请选择密保问题</option>
                    <foreach name="problem" item="vo">
                        <option value="{$vo.id}">{$vo.question}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="answer2" class="col-sm-2 control-label">答案</label>
            <div class="col-sm-8">
                <div class="input"><input type="text" class="form-control" id="answer2"></div>
                <div class="hint"><span></span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密保问题三:</label>
            <div class="col-sm-8">
                <select class="form-control" id="problem3">
                    <option value="-1">请选择密保问题</option>
                    <foreach name="problem" item="vo">
                        <option value="{$vo.id}">{$vo.question}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="answer3" class="col-sm-2 control-label">答案</label>
            <div class="col-sm-8">
                <div class="input"><input type="text" class="form-control" id="answer3"></div>
                <div class="hint"><span></span></div>
            </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label  class="col-sm-2 control-label" for="authCode">验证码:</label>
            <div class="col-sm-8">
                <input name="verify" type="text" id="authCode" class="form-control"/>
                <img src="verify" border="0" title="点击刷新" alt="验证码" id="authImg" onClick="this.src=this.src+'?'+Math.random()"/>
                <span></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="registerNow">立即注册</button>
            </div>
        </div>
    </form>

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/register.js"></script>
</block>