<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/panel/viwepager.css">
    <!--<link rel="stylesheet" type="text/css" href="__CSS__/panel/alert_info.css">-->
    <script type="text/javascript" src='__STATIC__/jquery-2.0.3.min.js'></script>
    <script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/panel/viwepager.js"></script>
    <!--<script type="text/javascript" src="__JS__/panel/alert_info.js"></script>-->
</head>
<body>
    <div id="PicturesShow">
        <div class="content">
            <!--<div class="title">-->
                <!--<span>模块标题:</span>-->
                <!--<span>-->
                    <!--<input type="text" class="setTitle" value="轮播图"/>-->
                <!--</span>-->
            <!--</div>-->
            <div class="type">
                <div class="title_hint">
                    <div class="type_title">轮播样式:</div>
                    <div class="hint">
                        <span>[注：最多显示10张图片]</span>
                    </div>
                </div>

                <div class="img">
                    <img type="1" src="__IMAGES__/panel/such1.jpg">
                    <img type="2" src="__IMAGES__/panel/such2.jpg">
                    <img type="3" src="__IMAGES__/panel/such4.jpg">
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="selectAlbum">
                <div>
                    <span>选择相册:</span>
                </div>
                <div class="albumList">
                    <empty name="album_list">
                        <h3 style="text-align: center; color: red;">无相册,请去添加</h3>
                    <else />
                        <table class="albumListContent">
                            <foreach name="album_list" item="vo">
                                <tr date="{$vo.id}">
                                    <td class="ablumName">
                                        {$vo.name}
                                    </td>
                                    <td class="identification">
                                        <img src="__IMAGES__/panel/viwepagerAdd2.png">
                                    </td>
                                </tr>
                            </foreach>
                        </table>
                    </empty>

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="controller-id" value="{$controllerId}" />
    <input type="hidden" id="status" value="{$status}">
    <!--<div id="top-alert-back">-->
        <!--<div id="top-alert" class="alert alert-warning alert-dismissible" role="alert">-->
            <!--<button type="button" class="close_hint"><span aria-hidden="true">×</span></button>-->
            <!--<div class="alert-content"></div>-->
        <!--</div>-->
    <!--</div>-->
</body>
</html>