.image_text_container3 .article_container{
	width: 100%;
	background: #F7F1FB;
	color: #BFBBB8;
}
.image_text_container3 .image_text_img{
	width: 33%;
	height: 100px;
	float: left;
	margin-top: 23px;
	background: red;
	border-right: 10px solid #f1dfcb;
	border-bottom: 10px solid #f1dfcb;
}
.image_text_container3 .image_text_img img{
	width: 100%;
	height: 100%;
}
.image_text_container3 .image_text_title{
	text-align: left;
	display: inline-block;
	width: 30%;
	margin-left: -100px;
	border-right: 10px solid #f1dfcb;
	font-size: .0image_text_container3 .7rem;
}
.image_text_container3 .image_text_title3>h4{

	width: 90%;
	overflow: hidden;
	font-size: 1rem;
	margin: 0 auto;
	display: inline-block;
}
.image_text_container3 .image_text_container3>p{
	text-indent: 1em;
	font-size: smaller;
	margin: 0;
}
.image_text_container3 .clear_float{
	clear: both;
}