<extend name="base"/>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/website/add_article.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/ueditor/themes/default/css/ueditor.css">
	<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</block>
<block name='senior-nav'>
	<div class="site-name-show">{$site_name}</div>
</block>
<block name="side">
	<div class="side">
		<div class="side-head">网站资源</div>
		<div class="side-item"><a href="__CONTROLLER__/album_list/site_id/{$site_id}">相册</a></div>
		<div class="side-item"><a href="__CONTROLLER__/article_list/site_id/{$site_id}">文章</a></div>
	</div>
</block>
<block name="content">
	<div class="centent-head">添加文章</div>
	<!-- <input id="create_album_url" type="hidden" value="__CONTROLLER__/create_album">
	<input id="edit_album_url" type="hidden" value="__CONTROLLER__/edit_album">
	<input id="del_album_url" type="hidden" value="__CONTROLLER__/del_album"> -->
	<input id="article-url" type="hidden" value="__CONTROLLER__/article_list/site_id/{$site_id}">
	<div class="add-article-panel">
			<if condition="$is_edit eq 1">
			<form action="__CONTROLLER__/edit_article" id="article-form">
				<input id="article-id" name="id" type="hidden" value="{$article_info.id}">
			<else />
			<form action="__CONTROLLER__/insert_article" id="article-form">
				<input id="site-id" name="site_id" type="hidden" value="{$site_id}">
			</if>
			
			<div class="article-form-item">
				<label for="article-title" class="article-label">标题：</label>
				<input id="article-title" name="title" type="text" class="article-input form-control" value="{$article_info.title}">
			</div>
			<div class="article-form-item">
				<label for="article-source" class="article-label">来源：</label>
				<input id="article-source" name="source" type="text" class="article-input form-control" value="{$article_info.source}">
			</div>
			<div class="article-form-item">
				<label for="article-author" class="article-label">作者：</label>
				<input id="article-author" name="author" type="text" class="article-input form-control" value="{$article_info.author}">
			</div>
			<div class="article-form-item">
				<label for="article-url" class="article-label">网址：</label>
				<input id="article-url" name="url" type="text" class="article-input form-control" value="{$article_info.url}">
			</div>
			<div class="article-form-item">
				<label for="article-type" class="article-label">分类：</label>
				<input id="article-type" name="type_id" type="hidden" value="{$article_info.type_id}">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	<span id="type-name-span">请选择</span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  	<?php 
				  		//print_r($article_info);
				  		foreach ($type_list as $key => $value) {
				  			$class = "";
				  			if((int)$value['id'] == (int)$article_info['type_id']){
				  				// echo $key;
				  				// echo (int)$article_info['type_id'];
				  				$class = " class='checked' ";
				  			}
				  			echo "<li ".$class."data='".$value['id']."'><a>".$value['name']."</a></li>";
				  		}
				  	?>
				  </ul>
				</div>
				<?php 
					if(empty($type_list)){
				?>
				<span id="add-type-info">还没有分类,先去<a id="add-type-a" href="__CONTROLLER__/set_classify/site_id/{$site_id}">添加分类</a>吧</span>
				<?php
					}
				?>
			</div>
			<textarea id="editor" name="content">{$article_info.content}</textarea>
			<div class="article-form-item">
				<label for="article-picture" class="article-label">配图：</label>
				<input id="article-picture-id" name="pic_id" type="hidden" value="{$article_info.pic_id}">
				<input id="article-picture" name="article-picture" type="file">
				<div class="add-picture-button">上传图片</div>
				<div class="show-picture">
					<?php
						if(!empty($article_info['savepath'])){
							echo "<img src = '".C('UPLOAD_ROOT').$article_info['savepath'].$article_info['savename']."'/>";
						}
					?>
				</div>
			</div>
		</form>
	</div>
	<div class="button-bar">
		<if condition="$is_edit eq 1">
			<button type="button" class="save" url="__CONTROLLER__/edit_article">保存</button>
		<else />
			<button type="button" class="save" url="__CONTROLLER__/insert_article">保存</button>
		</if>
		<button type="button" class="cencel" url="__CONTROLLER__/article_list/site_id/{$site_id}">取消</button>
	</div>
</block>
<block name="other">
	
</block>
<block name="script">
	<script type="text/javascript" src="__JS__/website/add_article.js"></script>
</block>