<extend name="Public/base"/>
<block name="style">
	<block name="style"></block>
</block>
<block name='senior-nav'></block>
<block name="side">
	<div class="side">
		<div class="side-head">网站资源</div>
		<div class="side-item"><a href="__CONTROLLER__/album_list/site_id/{$site_id}">相册</a></div>
		<div class="side-item"><a href="__SELF__">文章</a></div>
	</div>
</block>
<block name="content">
	<block name="content"></block>
</block>
<block name="other">
	<block name="other"></block>
</block>
<block name="script">
	<block name="script"></block>
</block>