li{
	list-style: none;
}
ul{
	padding-left: 0;
}
#article_list{
	/*width: 565px;*/
	width: 35rem;
	/*height: 298px;*/
	border: 1px solid #4FC1A7;
}
.tab_nav{
	background: #e4e5e4;
}
.tab_nav>li{
	display: inline-block;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
}
.active{
	background: #fff;
}
.tab_nav>li>a{
	color: black;
	
	text-decoration: none;
	padding: 1rem 0.4rem;
}
.style_form{
	width: 
}
.pattern{
	width: 28%;
	/*height: 110px;*/
	height: 7rem;

	display: inline-block;
	float: left;
	margin-left: 2%;
	/*margin-top: 20px;*/
	margin-top: 1.3rem;
	/*border: 1px solid red;*/
}
.pattern img{
	width: 93%;
	height: 90%;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
}
.hr{
	width: 97%;
	height: 95%;
	-moz-border-image:url(../Images/nav-border.png) 3 4 round;	/* Old Firefox */
	-webkit-border-image:url(../Images/nav-border.png) 3 4 round;	/* Safari and Chrome */
	-o-border-image:url(../Images/nav-border.png) 3 4 round;		/* Opera */
	border-image:url(../Images/nav-border.png) 3 4 round;
}
.clear_both{
	clear: both;
}
fieldset{
	width: 88%;
	margin: 0 auto;
}
#style_list{
	margin-bottom: 1.5rem;
}
.type_list>input{
	margin-right: 1rem;
}
.article_info{
	display: none;
}
/* .button{
	text-align: center;
	margin-bottom: 15px;
}
#save{
    border: 1px solid #0064b5;
    background: #49a3ff;
    color: #fff;
    border-radius: 2px;
}
#cancle{
	border-radius: 2px;
} */