.form-horizontal{
	width: 80%;
}
.form-group{
    width: 100%;
    margin-left: 0 !important;
}
.form-group input{
    display: inline;
}
.input{
    width: inherit;
}
#authCode{
    width: 30%;
}

.col-sm-8{
	width: 75%;
}
#problem{
	width: 60%;
}
.col-sm-8 input {
    float: left;
    width: 80%;
}
#changePassword{margin-left: 10px;}
#back{margin-left: 90px;}
.col-sm-2{
    width: auto;
}